
			<div class="main-content">
				<div>
					<button  data-url="{:U('Cate/add')}" data-saveurl="{:U('Cate/save')}" class="edit-btn" >添加</button>
					<button  class="btn-normal reload-btn" ><i class="icon iconfont">&#xe61d;</i>刷新</button>
				</div>
				<div class="content-main">
					<table class="list-table">
						<thead>
							<tr><th></th><th>Id</th><th>标题</th><th>排序</th><th>操作</th>
							</tr>
						</thead>
						<tbody class="hbypage-listemple catelist">
						 <volist  name="list" id="vo" >
							<tr>
								<td>
								</td>
								<td>{$vo.id}</td>
								<td>{$vo.cate_name}</td>
								<td>{$vo.order}</td>
								<td><button class="edit-btn btn-normal"  data-url="{:U('Cate/edit')}?id={$vo.id}" data-saveurl="{:U('Cate/save')}" >编辑</button><button class="btn-danger del-btn" data-id="{$vo.id}" data-url="{:U('Cate/del')}?id={$vo.id}">删除</button></td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
				 <div class="pagination ">

            	</div>
			</div>
		<div id="pop-form-div" class="disn">
			<form>
				<input type="hidden" name="id" value="">
				<div class="item-div">
					<input type="text" name="cate_name" value="" placeholder="请输入分类名">
				</div>
				<div class="item-div">
					<input type="text" name="order" value="" placeholder="排序">
				</div>
				<div class="item-div">
					<button class="normal-btn">提交</button>
					<button class="edit-btn">取消</button>
				</div>
			</form>
		</div>

<script type="text/javascript">
	var ajaxini = true;
    HBYPageobj.render({
        loadpagefun:function (res) {
            var str = '';
			if(res.code==200){
				for(var i in res.list){
                    str+='<tr>';
                    str+='<td>';
                    str+='<td>'+res.list[i]['id']+'</td>';
                    str+='<td>'+res.list[i]['cate_name']+'</td>';
                    str+='<td>'+res.list[i]['order']+'</td>';
                    str+='<td><button class="edit-btn btn-normal"  data-url="{:U('Cate/edit')}?id='+res.list[i]['id']+'" data-saveurl="{:U('Cate/save')}" >编辑</button><button class="btn-danger del-btn" data-id="'+res.list[i]['id']+'"  data-url="{:U('Cate/del')}?id='+res.list[i]['id']+'">删除</button></td> </tr>';
				}
			}
            return str;
        },
        geturl:"{:U('Cate/index')}",
		total:"{$pagenation['total']}",
		pagenum:"{$pagenation['page_num']}"
	});






</script>