<include file="Public/header" />

		<div class="main clearfix">
			<include file="Public/menu" />
			<div class="main-content">
				<div>
					<a href="{:U('Article/add')}"><button class="edit-btn" >添加</button></a>
				</div>
				<div class="content-main">
					<table class="list-table">
						<thead>
							<tr><th></th><th>Id</th><th>标题</th><th>分类</th><th>添加时间</th><th>修改时间</th><th>操作</th>
							</tr>
						</thead>
						<tbody id="list">
						 <volist  name="list" id="vo" >
							<tr>
								<td>
								</td>
								<td>{$vo.id}</td>
								<td>{$vo.title}</td>
								<td>{$vo.cate_name}</td>
								<td>{$vo.add_date}</td>
								<td>{$vo.update_date}</td>
								<td><button class="edit-btn" data-id="{$vo.id}">编辑</button><button class="danger-btn" data-id="{$vo.id}">删除</button></td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
				 <div class="pagination pagination-centered">
                {$page}
            	</div>
			</div>
		</div>
		<include file="Public/footer" />
</body>
<script type="text/javascript">
	$('#list').on('click','.edit-btn',function(){
		window.location.href="{:U('Article/edit')}?id="+$(this).attr('data-id');
	});
	$('#list').on('click','.danger-btn',function(){
		var id = $(this).attr('data-id');
		$.ajax({
			url:'{:U('Article/del')}',
			data:{
				id:id
			},
			type:'post',
			dataType:'json',
			success:function(data){
				if(data.code==200){
					 window.location.reload();
				}else{
					alert(data.msg);
				}
				
			}
		});
	});
	
	$('.pagination').on('click','a',function(){
		if($(this).attr('data-url')){
			$.ajax({
				url:$(this).attr('data-url'),
				type:'post',
				data:{
					flag:'tt'
				},
				dataType:'json',
				success:function(data){
					if(data.list){
						var str = '';
						for(var i in data.list){
							str+='<tr><td></td>';
							str+='<td>'+data.list[i]['id']+'</td>';
							str+='<td>'+data.list[i]['title']+'</td>';
							str+='<td>'+data.list[i]['cate_name']+'</td>';
							str+='<td>'+data.list[i]['add_date']+'</td>';
							str+='<td>'+data.list[i]['update_date']+'</td>';
							str+='<td><button class="edit-btn" data-id="'+data.list[i]['id']+'">编辑</button><button class="danger-btn" data-id="'+data.list[i]['id']+'">删除</button></td></tr>';
						
						}
						 $('#list').html(str);
						 $('.pagination').html(data.page);
					}
				}
			});
		}
	})

</script>
</html>