
			<div class="main-content">
				<div>
					<button  data-url="{:U('Article/tagadd')}" data-saveurl="{:U('Article/tagsave')}" class="edit-btn" >添加</button>
                    <button  class="btn-normal reload-btn" ><i class="icon iconfont">&#xe61d;</i>刷新</button>
				</div>
				<div class="content-main">
					<table class="list-table">
						<thead>
							<tr><th></th><th>Id</th><th>标签名</th><th>操作</th>
							</tr>
						</thead>
						<tbody class="hbypage-listemple">
						 <volist  name="list" id="vo" >
							<tr>
								<td>
								</td>
								<td>{$vo.id}</td>
								<td>{$vo.tag_name}</td>
								<td><button class="edit-btn btn-normal"  data-url="{:U('Article/tagedit')}?id={$vo.id}" data-saveurl="{:U('Article/tagsave')}">编辑</button><button class="btn-danger del-btn" data-id="{$vo.id}" data-url="{:U('Article/tagdel')}?id={$vo.id}">删除</button></td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
				 <div class="pagination">

            	</div>
			</div>

<script type="text/javascript" src="/Public/plugin/hbyedit/js/marked.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<script src="/Public/plugin/hbyedit/js/hbymedit.js"></script>
<script type="text/javascript">

    HBYPageobj.render({
        loadpagefun:function (res) {
            var str = '';
            if(res.code==200){
                for(var i in res.list){
                    str+='<tr><td></td>';
                    str+='<td>'+res.list[i]['id']+'</td>';
                    str+='<td>'+res.list[i]['title']+'</td>';
                    str+='<td>'+res.list[i]['cate_name']+'</td>';
                    str+='<td>'+res.list[i]['add_date']+'</td>';
                    str+='<td>'+res.list[i]['update_date']+'</td>';
                    str+='<td><button class="edit-btn btn-normal"  data-url="{:U('Article/edit')}?id='+res.list[i]['id']+'" data-saveurl="{:U('Article/save')}">编辑</button><button class="btn-danger del-btn" data-id="'+res.list[i]['id']+'"  data-url="{:U('Article/del')}?id='+res.list[i]['id']+'">删除</button></td></tr>';
				}
            }
            return str;
        },
        geturl:"{:U('Article/tagslist')}",
        total:"{$pagenation['total']}",
        pagenum:"{$pagenation['page_num']}"
    });


    /*
	$('#list').on('click','.edit-btn',function(){
		window.location.href="{:U('Article/edit')}?id="+$(this).attr('data-id');
	});

	$('.edit-btn').click(function () {
		HBYLayer.layer($(this).attr('data-url'),$(this).attr('data-saveurl'));
    });
*/
	$('#list').on('click','.danger-btn',function(){
		var id = $(this).attr('data-id');
		$.ajax({
			url:'{:U('Article/del')}',
			data:{
				id:id
			},
			type:'post',
			dataType:'json',
			success:function(data){
				if(data.code==200){
					 window.location.reload();
				}else{
					alert(data.msg);
				}
				
			}
		});
	});


</script>