
	<div class="content-main">
		<div>
			<button  class="btn-normal reload-btn" ><i class="icon iconfont">&#xe61d;</i>刷新</button>
		</div>
		<table class="list-table">
			<thead>
				<tr><th></th><th>Id</th><th>文章</th><th>上级id</th><th>用户名</th><th>邮箱</th><th>内容</th><th>添加时间</th><th>操作</th>
				</tr>
			</thead>
			<tbody class="hbypage-listemple">
			 <volist  name="list" id="vo" >
				<tr>
					<td>
					</td>
					<td>{$vo.id}</td>
					<td>{$vo.aid}</td>
					<td>{$vo.pid}</td>
					<td>{$vo.user_name}</td>
					<td>{$vo.email}</td>
					<td>{$vo.content}</td>
					<td>{$vo.add_time}</td>
					<td><button class="btn-danger del-btn" data-id="{$vo.id}" data-url="{:U('Comment/del')}?id={$vo.id}">删除</button></td>
				</tr>
				</volist>
			</tbody>
		</table>
	</div>
	 <div class="pagination">

	</div>

<script type="text/javascript">
	var ajaxini = true;
    HBYPageobj.render({
        loadpagefun:function (data) {
            var str = '';
            if(data.code==200){
                for(var i in data.list){
                    str+='<tr><td></td>';
                    str+='<td>'+data.list[i]['id']+'</td>';
                    str+='<td>'+data.list[i]['aid']+'</td>';
                    str+='<td>'+data.list[i]['pid']+'</td>';
                    str+='<td>'+data.list[i]['user_name']+'</td>';
                    str+='<td>'+data.list[i]['email']+'</td>';
                    str+='<td>'+data.list[i]['content']+'</td>';
                    str+='<td>'+data.list[i]['add_time']+'</td>';
                    str+='<td><button class="btn-danger del-btn" data-id="{$vo.id}" data-url="{:U('Comment/del')}?id='+data.list[i]['id']+'">删除</button></tr>';
                }
            }
            return str;
        },
        geturl:"{:U('Comment/index')}",
        total:"{$pagenation['total']}",
        pagenum:"{$pagenation['page_num']}"
    });


	$('.add-cate').on('click',function(){
		$('#pop-form-div').find('input').val('');
		$('#pop-form-div').show();
	});
	$('#pop-form-div').on('click','.edit-btn',function(){
		$('#pop-form-div').hide();
		return false;
	});


	$('#list').on('click','.danger-btn',function(){
		var id = $(this).attr('data-id');
		$.ajax({
			url:'{:U('Comment/del')}',
			data:{
				id:id
			},
			type:'post',
			dataType:'json',
			success:function(data){
				if(data.code==200){
					 window.location.reload();
				}else{
					alert(data.msg);
				}

			}
		});
	});


</script>