
<html>
<head>
<title>详情页</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="./public/css/common.css" rel="stylesheet">
<link href="./public/css/style.css" rel="stylesheet">
</head>

<body>
	<!-- 头部 -->
	<header class="clear">
		<img src="./public/images/img1.gif" class="logo">
		<img src="./public/images/img1.gif" class="home">
		
	</header>
	<!-- 头部end -->
	
	<div class="ibody">
		<div class="article">
			<div class="head  tc">
				<p class="title">标题</p>
				<p class="author">作者：   时间:2017-11-44</p>
			</div>
			<div >
				撒地方还是发是否是风扇电风扇地方商店fd，撒地方还是发是否是风扇电风扇地方商店fd撒地方还是发是否是风扇电风扇地方商店fd撒地方还是发是否是风扇电风扇地方商店fd。
				撒地方还是发是否是风扇电风扇地方商店fd撒地方还是发是否是风扇电风扇地方商店fd撒地方还是发是否是风扇电风扇地方商店fd，撒地方还是发是否是风扇电风扇地方商店fd撒地方还是发是否是风扇电风扇地方商店fd，
				撒地方还是发是否是风扇电风扇地方商店fd，撒地方还是发是否是风扇电风扇地方商店fd撒地方还是发是否是风扇电风扇地方商店fd，。撒地方还是发是否是风扇电风扇地方商店fd。
			</div>
		</div>
		
		<div class="comment-div">
			<ul class="comment-list">
				<li class="list-item">
					<div>
						<div class="user-avatar">
							<span>用户名</span>
						</div>
						<div class="commet-content">
							<div>
								<p>大师风扇发是否萨风扇地方，手动阀手动阀十分，。sdfsdfs.sdf'是否萨风扇地方，手动阀手动阀十分，。sdfsdfs.sdf'</p>
							</div>
							<div class="info">
								<p><a href="#"><span>回复</span></a>&nbsp;&nbsp;&nbsp;<span>2017-44-44 </span></p>
							</div>
						</div>
					</div>
				</li>
				<li class="list-item">
					<div>
						<div class="user-avatar">
							<span>用户名</span>
						</div>
						<div class="commet-content">
							<div>
								<p>大师风扇发是否萨风扇地方，手动阀手动阀十分，。sdfsdfs.sdf'是否萨风扇地方，手动阀手动阀十分，。sdfsdfs.sdf'</p>
							</div>
							<div class="info">
								<p><a href="#"><span>回复</span></a>&nbsp;&nbsp;&nbsp;<span>2017-44-44 </span></p>
							</div>
						</div>
					</div>
				</li>
				<li class="list-item">
					<div>
						<div class="user-avatar">
							<span>用户名</span>
						</div>
						<div class="commet-content">
							<div>
								<p>大师风扇发是否萨风扇地方，手动阀手动阀十分，。sdfsdfs.sdf'是否萨风扇地方，手动阀手动阀十分，。sdfsdfs.sdf'</p>
							</div>
							<div class="info">
								<p><a href="#"><span>回复</span></a>&nbsp;&nbsp;&nbsp;<span>2017-44-44 </span></p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="edit-comment">
			<input type=“text" name=”username" placeholder="用户名">
			<input type=“text" name="email" placeholder="邮箱">
			<textarea name="comment">
			</textarea>
			<input type=“text" name="checkcode" placeholder="验证码">
			<img class="checkimg" src="xx">
			<input type="button" value="提交">
		</div>
	</div>
	<footer>
		<p>author:aloner Copyright © 1999-2017, xxx, All Rights Reserved  </p>
	</footer>
	<!-- 底部end -->
</body>
</html>