
<html>
<head>
<title>博客首页</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="./public/css/common.css" rel="stylesheet">
<link href="./public/css/style.css" rel="stylesheet">
</head>

<body>
	<!-- 头部 -->
	<header class="clear">
		<img src="./public/images/img1.gif" class="logo">
		<img src="./public/images/img1.gif" class="home">
		<div class="search-div">
			<div>
				<input type="text" name="keyword" placeholder="关键词" >
				<select name="class">
					<option value="">选择分类</option>
					<option value="1">分类一</option>
					<option value="2">分类二</option>
				</select>
			</div>
		</div>
	</header>
	<!-- 头部end -->
	<!-- 主体 -->
	<div class="blog-list">
		<!--文章列表项 -->
		<div class="list-item">
			<div class="title"><p>文章标题</p></div>
			<div class="content">
				<p>文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
				文章内容文章内容文章内容文章内容文章内容文章内容文章内容
				文章内容文章内容文章内容文章内容文章内容文章内容</p>
			</div>
			<div class="item-bottom">
				<div class="bottom-info">
					<p>
						时间<span>2017-06-17 11:11:11</span>点击数：<span>15</span>
					</p>
				</div>
			</div>
		</div>
		
		<div class="list-item">
			<div class="title"><p>文章标题</p></div>
			<div class="content">
				<p>文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
				文章内容文章内容文章内容文章内容文章内容文章内容文章内容
				文章内容文章内容文章内容文章内容文章内容文章内容</p>
			</div>
			<div class="item-bottom">
				<div class="bottom-info">
					<p>
						时间<span>2017-06-17 11:11:11</span>点击数：<span>15</span>
					</p>
				</div>
			</div>
		</div>
		<div class="list-item">
			<div class="title"><p>文章标题</p></div>
			<div class="content">
				<p>文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
				文章内容文章内容文章内容文章内容文章内容文章内容文章内容
				文章内容文章内容文章内容文章内容文章内容文章内容</p>
			</div>
			<div class="item-bottom">
				<div class="bottom-info">
					<p>
						时间<span>2017-06-17 11:11:11</span>点击数：<span>15</span>
					</p>
				</div>
			</div>
		</div>
		<div class="list-item">
			<div class="title"><p>文章标题</p></div>
			<div class="content">
				<p>文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
				文章内容文章内容文章内容文章内容文章内容文章内容文章内容
				文章内容文章内容文章内容文章内容文章内容文章内容</p>
			</div>
			<div class="item-bottom">
				<div class="bottom-info">
					<p>
						时间<span>2017-06-17 11:11:11</span>点击数：<span>15</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 主体 end-->
	<!-- 底部 -->
	<footer>
		<p>author:aloner Copyright © 1999-2017, xxx, All Rights Reserved  </p>
	</footer>
	<!-- 底部end -->
</body>
</html>